@import './variables.scss';
@import './mixins.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.app {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-family: $font-family;
    font-size: $body-font-size;
    font-weight: $font-weight;

    position: relative;
    background: $background-color;

    .app__image {
        position: absolute;
    }

    .app__image--top {
        top: 0px;
        right: 0px;
    }

    .app__image--bottom {
        bottom: 0px;
        left: 0px;
    }

    .app__header {
        color: $basic-color;
        z-index: 1;

        @include mobile {
            margin-top: 100px;
        }
    }

    .app__toggle {
        margin: 40px 0 60px;
        display: flex;
        align-items: center;
        z-index: 1;

        span {
            color: $toggle-color;
        }
    }

    .app__cards {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;

        @include mobile {
            flex-direction: column;
        }
    }

    .app__footer {
        margin: 50px 0;
        text-align: center;
    }

}