@import './variables.scss';

.toggle {
    margin: 0 30px;

    position: relative;
    display: inline-block;
    width: 50px;
    height: 30px;

    .toggle__input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .toggle__style {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        background: $accent-color;
        -webkit-transition: .4s;
        transition: .4s;

        cursor: pointer;
        border-radius: 34px;
    }

    .toggle__style:before {
        position: absolute;
        height: 22px;
        width: 22px;
        left: 4px;
        bottom: 4px;

        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 50%;
        content: "";
    }

    // move when checked
    .toggle__input:checked+.toggle__style:before {
        -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(20px);
    }
}