@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

// colors
$accent-color: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
$accent-color-btn: hsl(237, 63%, 64%);
$background-color: hsl(240, 78%, 98%);
$toggle-color: hsl(234, 14%, 74%);
$basic-color: hsl(233, 13%, 49%);
$price-color: hsl(232, 13%, 33%);

// fonts
$font-family: 'Montserrat', sans-serif;
$font-weight: 700;
$body-font-size: 15px;